<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>499462472824-2ilh4o4sf58qhe0f7jnudj64a4ev25b8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.499462472824-2ilh4o4sf58qhe0f7jnudj64a4ev25b8</string>
	<key>API_KEY</key>
	<string>AIzaSyBSFGfhUNnPbm89fHOxcs2TY43UH8V23VM</string>
	<key>GCM_SENDER_ID</key>
	<string>499462472824</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codycondon.Messenger</string>
	<key>PROJECT_ID</key>
	<string>messenger-9f037</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-9f037.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:499462472824:ios:f7732140e19c0a5fd3998d</string>
	<key>DATABASE_URL</key>
	<string>https://messenger-9f037.firebaseio.com</string>
</dict>
</plist>